WEB_IMAGE=crypto-exchanger-web:latest
ADMIN_IMAGE=crypto-exchanger-admin:latest

WEB_PORT=3000
ADMIN_PORT=8081

VITE_API_BASE_URL=https://api.example.com
VITE_ADMIN_APP_URL=https://admin.example.com/login  http://localhost:4201/

